<%- include('../includes/head.ejs'); %>
    <h1>Shop</h1>
    <% if (prods.length) {%>
        <div class="grid-container">
            <div class="grid grid--stretch">
                <% prods.forEach(product=> { %>
                    <div class="grid-item grid-item--3">
                        <article class="product-card ">
                            <header class="product-card__header">
                                <h3>
                                    <%= product.title %>
                                </h3>
                            </header>
                            <div class="product-card__img">
                                <img src="<%= product.imgUrl %>" alt="<%= product.title %>" />
                            </div>
                            <div class="product-card__content">
                                <span class="product-card__price">$<%= product.price %></span>
                                <p class="product-card__desc">
                                    <%= product.description %>
                                </p>
                            </div>
                            <div class="product-card__actions">
                                <% if(isLoggedIn){ %>
                                    <form class="form-btn" action="/cart" method="post">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <input type="hidden" name="productId" value="<%= product._id %>" />
                                        <button type="submit" class="main-btn ">Add to cart</button>
                                    </form>
                                <% } %>
                            </div>
                        </article>
                    </div>
                    <% }) %>
            </div>
        </div>
        <% } else { %>
            <h3>No products available</h3>
            <% } %>
<%- include('../includes/end.ejs'); %>