<%- include('../includes/head.ejs'); %>
    <h1>Orders</h1>
    <% if(!orders?.length){%>
        <h3>You have no orders.</h3>
    <%} else {%>
        <%orders.forEach((order) => {%>
            <div class="card mb-4">
                <div class="card__content">
                    <h3>Order: <%=order._id%> - <a href="/orders/<%=order._id%>">Invoice</a></h3>
                    <ul>
                        <%order.items.forEach(item => {%>
                            <li><%=item?.product?.title%> <br>QTY: <%=item.quantity%></li>
                        <%})%>
                    </ul>
                </div>
            </div>
        <%})%>
    <%}%>
<%- include('../includes/end.ejs'); %>