<%- include('../includes/head.ejs'); %>
<div class="simple-section">
    <h1>Update Password</h1>
    <div class="form-card">
        <% if(errorMessage){ %>
        <div class="txt-error">
            <%=errorMessage%>
        </div>
        <% } %>
        <form action="/auth/update-password" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="token" value="<%=token%>">
            <div class="form-ctrl form-ctrl--fullwidth">
                <Label for="password">Password</Label>
                <input id="password" name="password" type="password"/>
            </div>
            <div class="form-ctrl form-ctrl--fullwidth">
                <Label for="password2">Re-enter Password</Label>
                <input id="password2" name="password2" type="password"/>
            </div>
            <div class="form-ctrl form-ctrl--fullwidth">
                <button class="main-btn" type="submit">Update Password</button>
            </div>
        </form>
    </div>
</div>
<%- include('../includes/end.ejs'); %>